html{background-color: aquamarine;}
.white-keys kbd{background-color: white;
    display: inline-block;
    border: 2px solid black;
    width: 40px;
    height: 80px;
    padding: 60px 0px 0px 0px;
    text-align: center;
}
.black-keys kbd{background-color: black;
    display: inline-block;
    border: 2px solid black;
    width: 30px;
    height: 40px;
    padding: 60px 0px 0px 0px;
    text-align: center;
    color: white;
}
.container{
    position: relative;
    width: 23%;
    margin: 10% auto;
}
#empty{background-color: blanchedalmond;
    display: inline-block;
    width: 30px;
    height: 40px;
    padding: 60px 0px 0px 0px;
}