html{background-color: aquamarine;}
.white-keys {background-color: white;
    position: absolute;
    top: 0;
    display: flex;
    border: 2px solid black;
    width: 40px;
    height: 80px;
    padding: 60px 0px 0px 0px;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}
.black-keys {background-color: black;
    position: absolute;
    top: 0;
    display: inline-block;
    border: 2px solid black;
    width: 20px;
    height: 40px;
    padding: 60px 0px 0px 0px;
    text-align: center;
    color: white;
}
.container{
    position: relative;
    height: 300px;
    width: 600px;
    margin: 10% auto;
}
#empty{background-color: blanchedalmond;
    display: inline-block;
    width: 30px;
    height: 40px;
    padding: 60px 0px 0px 0px;
}
#A{left: 0}#S{left: 40px}#D{left: 80px}#F{left: 120px}#G{left: 160px}#H{left: 200px}#J{left: 240px}
#W{left: 30px}#E{left: 70px}#T{left: 150px}#Y{left: 190px}#U{left: 230px}